
root { 
    display: block;
}
body {
    /*width: 1024px; margin: 0px auto;*/
    font-family: Verdana;
}
 
header.mainH {
    -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;
    -webkit-box-shadow: 0 3px 5px 0 #AA4400; -moz-box-shadow: 0 3px 5px 0 #AA4400;
    box-shadow: 0 3px 5px 0 #AA4400;
    padding: 5px;
    text-align: center;
}

#wraper{
    width: 1024px; 
    margin: 0px auto;
    /*padding: 5px;*/
    /*outline: 2px solid black;*/
    
    border: 2px solid #215a91;
    padding: 10px;
    min-height: 100%;
    
}

#header{
    height: 150px;
    text-align: center;
    /*outline: 1px solid black;*/
    border: 2px solid #215a91;
    
    -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;
    -webkit-box-shadow: 0 3px 5px 0 #AA4400; -moz-box-shadow: 0 3px 5px 0 #AA4400;
    box-shadow: 0 3px 5px 0 #cde6f2;
   
    font-family: Verdana;
       
}
#lang{
	text-align: right;
	margin-right: 30px;
}
#main_title{
    
    float: none;
}
#nav{
    width: 300px;
    margin-top: 10px; 
    float: left;
    /*outline: 1px solid black;*/
    /*min-height: 100%;*/
    border: 2px solid #215a91;
    -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;
    
    
}

#content{
    min-height: 300px;
    /*outline: 1px solid black;*/
    margin-top: 10px;
    padding: 10px;
    margin-left: 315px;
    
    border: 2px solid #215a91;
    -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;
}
#footer{
    /*height: 100px;*/
    outline: 1px solid black;
    clear: left;
    display: none;
}

input{
    /*height: 10px;*/
    width: 150px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 1px solid #cecece;
    background: #f6f6f6;
    border-radius: 8px;
}
.submit {
	cursor: pointer;
	border: 1px solid #cecece;
	background: #f6f6f6;
	box-shadow: inset 0px 20px 20px #ffffff;
	border-radius: 8px;
	padding: 3px 5px;
	width: 60px;
        height: 20px;
        font-size: 10px;
}
#form{
    
    width: 550px;
    margin-left: 480px;
    margin-top: 10px;
    
}
#form p{
    float: left;
    margin:  10px 0 0 0;
    padding: 0 3px;
}
#clear{
    
}
.news{
    border: 1px solid black;
    margin: 10px 0 10px 0;
    width: 100%;
}
#h1news{
    text-align:center;
    
}
.news_head {
    border: 1px solid black;
    background-color: #f0f0f0;
}
.news_head td{
    padding-left: 10px;
    color: #ac0202;
}
.title{
    padding-bottom: 0;
    margin-bottom: 3px; 
}
.date{
    padding: 0;
    margin: 0;
    color: #717171;
    font-size: 10px;
    
}
.news_body{
   /* background-color: #f0f0f0;*/
   text-indent: 40px;
}
.news_body td{
    padding-left: 10px;
}
#adm_news{
    float:left;
}

.read_more{
    text-align: right;  
    font-size: 12px;
    
}
a{
    text-decoration: none;
    color: #215a91;
}
a:hover{
    color: blue;
}
.linku{
    margin: 0 10px;
}
.delete{
    color: red;
}
